<!-- Section: Main chart -->
{{let 'user' 'student'}}
<hr class='hr' />
{{#if success}}
    <div class='alert alert-success d-flex align-items-center' role='alert'>
        <div>
            <i class='fa-regular fa-circle-check' style='color: #307722;'></i>
            {{success}}
        </div>
    </div>
{{/if}}
{{#if error}}
    <div class='alert alert-danger d-flex align-items-center' role='alert'>
        <div>
            <i class='fa-regular fa-circle-check' style='color: #307722;'></i>
            {{error}}
        </div>
    </div>
{{/if}}
<section class='text-center'>
    <div class='row'>
        <div class='col-lg-4 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative'>
            <i class='fa-solid fa-comments fa-3x text-primary mb-4'></i>
            <h5 class='text-primary fw-bold mb-3'>{{countAnnouncement}}+</h5>
            <h6 class='fw-normal mb-0'>Announcement</h6>
            <div class='vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0'></div>
        </div>

        <div class='col-lg-4 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative'>
            <i class='fa-solid fa-business-time fa-3x text-primary mb-4'></i>
            <h5 class='text-primary fw-bold mb-3'>{{countRemind}}+</h5>
            <h6 class='fw-normal mb-0'>Remind</h6>
            <div class='vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0'></div>
        </div>
        <div class='col-lg-4 col-md-6 mb-5 mb-md-0 position-relative'>
            <i class='fa-solid fa-envelope-open-text fa-3x text-primary mb-4'></i>
            <h5 class='text-primary fw-bold mb-3'>{{countInvitation}}+</h5>
            <h6 class='fw-normal mb-0'>Invitation</h6>
            <div class='vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0'></div>
        </div>
    </div>
</section>
<hr class='hr' />
<div class='row'>
    <div class='col-md-8'>
        <!-- Spied element -->
        <div
            data-mdb-spy='scroll'
            data-mdb-target='#scrollspy-collapsible'
            data-mdb-offset='0'
            class='scrollspy-example'
        >
            {{#each receives}}
                <section id='collapsible{{_id}}'>
                    <h3>{{title}}</h3>
                    <div class='card mb-4'>
                        <div class='card-header'>{{capitalize type}}</div>
                        <div class='card-body'>
                            <blockquote class='blockquote mb-0'>
                                <p>{{body}}</p>
                                <footer class='blockquote-footer'>{{capitalize sendBy.position}}
                                    <cite title='Source Title'>{{sendBy.fullname}}</cite></footer>
                            </blockquote>
                        </div>
                        <div class='card-footer'>
                            <small class='text-muted'>{{formatDate createAt 'ddd, MMM D, YYYY'}}</small>
                        </div>
                    </div>
                </section>
            {{/each}}
        </div>
        <!-- Spied element -->
    </div>

    <div class='col-md-4'>
        <!-- Scrollspy -->
        <div id='scrollspy-collapsible' class='sticky-top'>
            <ul class='nav flex-column nav-pills menu-sidebar'>
                {{#each receives}}
                    <li class='nav-item'>
                        <a class='nav-link' href='#collapsible{{_id}}'>{{title}}</a>
                    </li>
                {{/each}}
                {{! <li class='nav-item'>
                            <a class='nav-link' href='#example-2-collapsible'>Section 2</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link collapsible-scrollspy' href='#example-3-collapsible'>Section 3</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='#example-4-collapsible'>Section 4</a>
                        </li> }}
            </ul>
        </div>
        <!-- Scrollspy -->
    </div>
</div>