{{let 'user' 'teacher'}}
<section class='mb-4'>
    <div id='class-id' class='d-none'>{{classID}}</div>
    <form>
        <div class='d-flex'>
            <input id='attend-date' name='date' type='date' class='form-control me-3 w-50' />
            <button type='submit' class='btn btn-primary'>Chọn</button>
        </div>
    </form>
    <table id='listStudentCheckAttend' class='table table-hover' style='width:100%'>
        <thead>
            <tr>
                <th>Attend</th>
                <th>Student ID</th>
                <th>Full name</th>
            </tr>
        </thead>
        <tbody id='attend-body'>
            {{#each students}}
                <tr>
                    {{#if isPresent}}
                        <td class='item-selected'></td>
                    {{else}}
                        <td></td>
                    {{/if}}
                    <td class='fw-bold mb-1'>{{student.studentID}}</td>
                    <td class='fw-bold mb-1'>{{student.fullname}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <textarea class='form-control mt-3' id='note-inp' cols='30' rows='2' placeholder='Ghi chú'></textarea>
</section>
<!-- Section: Main chart -->

{{#each students}}
    <!-- Modal -->
    <div
        class='modal fade'
        id='addDesc{{student.studentID}}'
        tabindex='-1'
        aria-labelledby='addDesc{{student.studentID}}Label'
        aria-hidden='true'
    >
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='addDesc{{student.studentID}}Label'>Description</h5>
                    <button type='button' class='btn-close' data-mdb-dismiss='modal' aria-label='Close'></button>
                </div>
                <div class='modal-body'>
                    <!-- Message input -->
                    <div class='form-outline mb-4'>
                        <textarea class='form-control' id='desc{{student.studentID}}' rows='4'></textarea>
                        <label class='form-label' for='desc{{student.studentID}}'>Description</label>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-mdb-dismiss='modal'>Close</button>
                    <button
                        type='button'
                        onclick="fillDescription('{{student.studentID}}')"
                        data-mdb-dismiss='modal'
                        class='btn btn-primary'
                    >Save changes</button>
                </div>
            </div>
        </div>
    </div>
{{/each}}