<!-- Section: Main chart -->
<button type='button' class='btn btn-primary' data-mdb-toggle='modal' data-mdb-target='#modalCreateClass'><i
        class='fa-solid fa-plus'
    ></i>
    Create new class</button>
<hr class='hr' />
{{#if success}}
    <div class='alert alert-success d-flex align-items-center' role='alert'>
        <div>
            <i class='fa-regular fa-circle-check' style='color: #307722;'></i>
            {{success}}
        </div>
    </div>
{{/if}}
<!-- Tabs navs -->
<ul class='nav nav-pills mb-3' id='ex-with-icons' role='tablist'>
    <li class='nav-item' role='presentation'>
        <a
            class='nav-link active'
            id='ex-with-icons-tab-1'
            data-mdb-toggle='tab'
            href='#ex-with-icons-tabs-1'
            role='tab'
            aria-controls='ex-with-icons-tabs-1'
            aria-selected='true'
        ><i class='fa-solid fa-users-rectangle'></i> Grade 1</a>
    </li>
    <li class='nav-item' role='presentation'>
        <a
            class='nav-link'
            id='ex-with-icons-tab-2'
            data-mdb-toggle='tab'
            href='#ex-with-icons-tabs-2'
            role='tab'
            aria-controls='ex-with-icons-tabs-2'
            aria-selected='false'
        ><i class='fa-solid fa-users-rectangle'></i> Grade 2</a>
    </li>
    <li class='nav-item' role='presentation'>
        <a
            class='nav-link'
            id='ex-with-icons-tab-3'
            data-mdb-toggle='tab'
            href='#ex-with-icons-tabs-3'
            role='tab'
            aria-controls='ex-with-icons-tabs-3'
            aria-selected='false'
        ><i class='fa-solid fa-users-rectangle'></i> Grade 3</a>
    </li>
    <li class='nav-item' role='presentation'>
        <a
            class='nav-link'
            id='ex-with-icons-tab-4'
            data-mdb-toggle='tab'
            href='#ex-with-icons-tabs-4'
            role='tab'
            aria-controls='ex-with-icons-tabs-4'
            aria-selected='false'
        ><i class='fa-solid fa-users-rectangle'></i> Grade 4</a>
    </li>
    <li class='nav-item' role='presentation'>
        <a
            class='nav-link'
            id='ex-with-icons-tab-5'
            data-mdb-toggle='tab'
            href='#ex-with-icons-tabs-5'
            role='tab'
            aria-controls='ex-with-icons-tabs-5'
            aria-selected='false'
        ><i class='fa-solid fa-users-rectangle'></i> Grade 5</a>
    </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class='tab-content' id='ex-with-icons-content'>
    <div
        class='tab-pane fade show active'
        id='ex-with-icons-tabs-1'
        role='tabpanel'
        aria-labelledby='ex-with-icons-tab-1'
    >
        <div class='row'>
            {{#each grade1st}}
                <div class='col-sm-6 mb-3'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{name}}</h5>
                            <p class='card-text'><i class='fa-solid fa-chalkboard-user'></i>
                                Teacher:
                                {{teacher.fullname}}
                                - Email:
                                <a href='mailto:{{teacher.email}}'>{{teacher.email}}</a>
                                - Phone:
                                <a href='tel:+{{teacher.phone}}'>{{teacher.phone}}</a></p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Number of student:
                                {{students.length}}</p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Curren year:
                                {{currentYear}}</p>

                            <a
                                type='button'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalClassDetail{{_id}}'
                                class='btn btn-primary'
                            >View Detail</a>
                            <button
                                type='button'
                                class='btn btn-success'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalAdd'
                            >
                                <i class='fa-solid fa-user-plus'></i>
                                Add students
                            </button>
                        </div>
                        <div class='card-footer'>
                            <small class='text-muted'>Last update {{formatDate createdAt 'ddd, MMM D, YYYY'}}</small>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='tab-pane fade' id='ex-with-icons-tabs-2' role='tabpanel' aria-labelledby='ex-with-icons-tab-2'>
        <div class='row'>
            {{#each grade2nd}}
                <div class='col-sm-6 mb-3'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{name}}</h5>
                            <p class='card-text'><i class='fa-solid fa-chalkboard-user'></i>
                                Teacher:
                                {{teacher.fullname}}
                                - Email:
                                <a href='mailto:{{teacher.email}}'>{{teacher.email}}</a>
                                - Phone:
                                <a href='tel:+{{teacher.phone}}'>{{teacher.phone}}</a></p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Number of student:
                                {{students.length}}</p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Curren year:
                                {{currentYear}}</p>

                            <a
                                type='button'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalClassDetail{{_id}}'
                                class='btn btn-primary'
                            >View Detail</a>
                            <button
                                type='button'
                                class='btn btn-success'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalAdd'
                            >
                                <i class='fa-solid fa-user-plus'></i>
                                Add students
                            </button>
                        </div>
                        <div class='card-footer'>
                            <small class='text-muted'>Last update {{formatDate createdAt 'ddd, MMM D, YYYY'}}</small>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='tab-pane fade' id='ex-with-icons-tabs-3' role='tabpanel' aria-labelledby='ex-with-icons-tab-3'>
        <div class='row'>
            {{#each grade3rd}}
                <div class='col-sm-6 mb-3'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{name}}</h5>
                            <p class='card-text'><i class='fa-solid fa-chalkboard-user'></i>
                                Teacher:
                                {{teacher.fullname}}
                                - Email:
                                <a href='mailto:{{teacher.email}}'>{{teacher.email}}</a>
                                - Phone:
                                <a href='tel:+{{teacher.phone}}'>{{teacher.phone}}</a></p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Number of student:
                                {{students.length}}</p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Curren year:
                                {{currentYear}}</p>

                            <a
                                type='button'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalClassDetail{{_id}}'
                                class='btn btn-primary'
                            >View Detail</a>
                            <button
                                type='button'
                                class='btn btn-success'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalAdd'
                            >
                                <i class='fa-solid fa-user-plus'></i>
                                Add students
                            </button>
                        </div>
                        <div class='card-footer'>
                            <small class='text-muted'>Last update {{formatDate createdAt 'ddd, MMM D, YYYY'}}</small>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='tab-pane fade' id='ex-with-icons-tabs-4' role='tabpanel' aria-labelledby='ex-with-icons-tab-4'>
        <div class='row'>
            {{#each grade4th}}
                <div class='col-sm-6 mb-3'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{name}}</h5>
                            <p class='card-text'><i class='fa-solid fa-chalkboard-user'></i>
                                Teacher:
                                {{teacher.fullname}}
                                - Email:
                                <a href='mailto:{{teacher.email}}'>{{teacher.email}}</a>
                                - Phone:
                                <a href='tel:+{{teacher.phone}}'>{{teacher.phone}}</a></p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Number of student:
                                {{students.length}}</p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Curren year:
                                {{currentYear}}</p>

                            <a
                                type='button'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalClassDetail{{_id}}'
                                class='btn btn-primary'
                            >View Detail</a>
                            <button
                                type='button'
                                class='btn btn-success'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalAdd'
                            >
                                <i class='fa-solid fa-user-plus'></i>
                                Add students
                            </button>
                        </div>
                        <div class='card-footer'>
                            <small class='text-muted'>Last update {{formatDate createdAt 'ddd, MMM D, YYYY'}}</small>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='tab-pane fade' id='ex-with-icons-tabs-5' role='tabpanel' aria-labelledby='ex-with-icons-tab-5'>
        <div class='row'>
            {{#each grade5th}}
                <div class='col-sm-6 mb-3'>
                    <div class='card'>
                        <div class='card-body'>
                            <h5 class='card-title'>{{name}}</h5>
                            <p class='card-text'><i class='fa-solid fa-chalkboard-user'></i>
                                Teacher:
                                {{teacher.fullname}}
                                - Email:
                                <a href='mailto:{{teacher.email}}'>{{teacher.email}}</a>
                                - Phone:
                                <a href='tel:+{{teacher.phone}}'>{{teacher.phone}}</a></p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Number of student:
                                {{students.length}}</p>
                            <p class='card-text'><i class='fa-solid fa-graduation-cap'></i>
                                Curren year:
                                {{currentYear}}</p>

                            <a
                                type='button'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalClassDetail{{_id}}'
                                class='btn btn-primary'
                            >View Detail</a>
                            <button
                                type='button'
                                class='btn btn-success'
                                data-mdb-toggle='modal'
                                data-mdb-target='#modalAdd'
                            >
                                <i class='fa-solid fa-user-plus'></i>
                                Add students
                            </button>
                        </div>
                        <div class='card-footer'>
                            <small class='text-muted'>Last update {{formatDate createdAt 'ddd, MMM D, YYYY'}}</small>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Tabs content -->

<!-- Modal -->
<div class='modal fade' id='modalCreateClass' tabindex='-1' aria-labelledby='modalCreateClassLabel' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='modalCreateClassLabel'>Create new class</h5>
                <button type='button' class='btn-close' data-mdb-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <form action="" method="post">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class='row mb-4'>
                        <div class='col'>
                            <div class='form-outline'>
                                <input type='text' id='form6Example1' name="name" class='form-control' />
                                <label class='form-label' for='form6Example1'>Class name</label>
                            </div>
                        </div>
                        <div class='col'>
                            <div class='form-outline'>
                                <input type='text' id='form6Example2' name="currentYear" class='form-control' />
                                <label class='form-label' for='form6Example2'>School year:</label>
                            </div>
                        </div>
                    </div>
                    <div class='row mb-4'>
                        <div class='col'>
                            <select class='form-select' name="grade" aria-label='Default select example'>
                                <option selected>Choose grade</option>
                                <option value='1st'>1st Grade</option>
                                <option value='2nd'>2nd Grade</option>
                                <option value='3rd'>3nd Grade</option>
                                <option value='4th'>4th Grade</option>
                                <option value='5th'>5th Grade</option>
                            </select>
                        </div>
                        <div class='col'>
                            <select class='form-select' name="teacher" aria-label='Default select example'>
                                <option selected>Choose homeroom teacher</option>
                                {{#each listTeacher}}
                                <option value='{{_id}}'>{{fullname}}</option>
                                {{/each}}
                            </select>
                        </div>

                    </div>

                    <!-- Text input -->

                    <!-- Submit button -->
                    <button type='submit' class='btn btn-primary btn-block mb-4'>Create</button>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-mdb-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>
{{#each listClass}}
    <div
        class='modal fade'
        id='modalClassDetail{{_id}}'
        tabindex='-1'
        aria-labelledby='modalClassDetail{{_id}}Label'
        aria-hidden='true'
    >
        <div class='modal-dialog modal-xl'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='modalClassDetail{{_id}}Label'>Detail</h5>
                    <button type='button' class='btn-close' data-mdb-dismiss='modal' aria-label='Close'></button>
                </div>
                <div class='modal-body'>
                    <section class='mb-4'>
                        <table id='listStudentInClass' class='table table-hover' style='width:100%'>
                            <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Full name</th>
                                    <th>Parent</th>
                                    <th>Birth</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each students}}
                                    <tr>
                                        <td class='fw-bold mb-1'>{{studentID}}</td>
                                        <td class='fw-bold mb-1'>{{fullname}}</td>
                                        <td>
                                            <a class='fw-bold mb-1'>
                                                {{parent.fullname}}
                                            </a>
                                            <br />
                                            <a href='mailto:{{parent.email}}' class='fw-bold mb-1'>Email:
                                                {{parent.email}}</a>
                                            <br />
                                            <a href='tel:{{parent.phone}}' class='fw-bold mb-1'>Phone:
                                                {{parent.phone}}</a>
                                        </td>
                                        <td>{{birth}}</td>
                                        <td>{{gender}}</td>
                                        <td>{{address}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-mdb-dismiss='modal'>Close</button>

                </div>
            </div>
        </div>
    </div>
{{/each}}
{{#each listClass}}
    <div class='modal fade' id='modalAdd' tabindex='-1' aria-labelledby='modalAddLabel' aria-hidden='true'>
        <div class='modal-dialog modal-xl'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='modalAddLabel'>Add student to class</h5>
                    <button type='button' class='btn-close' data-mdb-dismiss='modal' aria-label='Close'></button>
                </div>
                <div class='modal-body'>
                    <section class='mb-4'>
                        <table id='listStudentFree' class='table table-hover' style='width:100%'>
                            <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Full name</th>
                                    <th>Grade</th>
                                    <th>Parent</th>
                                    <th>Birth</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each listStudent}}
                                    {{#if (equal../grade currentGrade)}}
                                    <tr>
                                        <td class='fw-bold mb-1'>{{studentID}}</td>
                                        <td class='fw-bold mb-1'>{{fullname}}</td>
                                        <td>{{currentGrade}}</td>
                                        <td>
                                            <a class='fw-bold mb-1'>
                                                {{parent.fullname}}
                                            </a>
                                            <br />
                                            <a href='mailto:{{parent.email}}' class='fw-bold mb-1'>Email:
                                                {{parent.email}}</a>
                                            <br />
                                            <a href='tel:{{parent.phone}}' class='fw-bold mb-1'>Phone:
                                                {{parent.phone}}</a>
                                        </td>
                                        <td>{{birth}}</td>
                                        <td>{{gender}}</td>
                                        <td>{{address}}</td>
                                        <th><a
                                                class='btn btn-info'
                                                href='/addStudent/{{../_id}}/{{this._id}}'
                                            >Add</a></th>
                                    </tr>
                                    {{/if}}
                                    
                                {{/each}}
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-mdb-dismiss='modal'>Close</button>
                </div>
            </div>
        </div>
    </div>
{{/each}}
<!-- Section: Main chart -->